
#Home {
  background-color: #F4ACB7 !important;
}

#Follow {
  width: 100%;
}

body {
  background-color: #FFE5D9
}

.btn {
  background-color: #F4ACB7;
}

.card {
  background-color: #F8FFF0;
}

.white {
  color: #9D8189;
}













/* #D8E2DC Gainsboro, #FFE5D9 Misty Rose, #FFCAD4 Bubble Gum, #F4ACB7 Nadeshiko Pink, #9D8189 Mountbatten Pink */
